$form-range-track-width: 100%;
$form-range-thumb-width: 1rem;
$form-range-track-bg: red;

body{
	height: 100vh;
	padding: 0;
 	margin: 0;
}
.navbar, .navbar-brand{
  padding: 0;
  margin: 0;
}
.logo {
	height: 100%;
    margin: 0 5 0 0;
    object-fit: contain; /* Optional: control how the image fits within its bounds */
    }
.dropdown-menu-right {
    right: 0;
    left: auto;
}
.h-7{
	height: 7%;
}
.h-86{
	height:86%;
}
.menu-end{
	margin-left:auto;
	margin-right:0;}
